@import "../../../variable";

.input {
  width: $inputs__width;
  height: 30px;
  border: $inputs__border;
  border-radius: 6px;
  padding: 0 5px 0 5px;
  font-size: $input__f__size;
  &::placeholder {
    font-size: 10px;
  }
  &:hover {
    border-color: rgb(164, 164, 164);
  }
  &:focus {
    box-shadow: 0px 0px 3px 1px rgba(116, 141, 211, 0.501);
    border-color: rgb(78, 115, 216);
  }
}
